@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500");

body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.content {
  margin-left: 16%; /* Same as the width of the sidenav */
  padding: 18px 40px;
}

.sidebar {
  height: 100%;
  width: 16%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.53);
  overflow-x: hidden;
  padding-top: 50px;

  ul {
    padding: 20px;
    list-style: none;
    color: #818080;
  }
}

a{
  text-decoration: none;
}